/****** layout styles */

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 90%;
}
body {
  min-width: 650px;
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.page-title {
  font-size: 90%;
  margin-bottom: 30px;
}

.auth-info {
  position: absolute;
  top:0;
  right:0;
  background-color: #eee;
  border: 1px solid #ccc;
  border-width: 0 0 1px 1px;
}
.auth-info p { margin: 4px; }


/****** common styles and resets */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

input[type=submit], input[type=button], button {
  padding: 4px 10px;
}

table.layout,
table.layout > tr > td,
table.layout > tbody > tr > td,
table.layout > tr
table.layout > tbody > tr {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  vertical-align: top;
}
table.form-layout,
table.form-layout > tr > td,
table.form-layout > tbody > tr > td,
table.form-layout > tr
table.form-layout > tbody > tr {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0 5px 5px 0;
  vertical-align: top;
}

h1,h2,h3,h4,h5,h6,p { margin-top: 0 }

.clickable { cursor: pointer; }

tr.strike {
  text-decoration: line-through;
  color: #999;
}
tr.strike a {
  color: #999;
}

.quote-text {
  font-style: italic;
  font-family: serif;
  font-size: 150%;
}
.quote-from {
  font-style: italic;
  font-family: serif;
}

.note-date {
  color: #999;
}

/****** modals */

.zoom, .fade, .eased-transition {
  -webkit-transition: all 0.125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  -o-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
}
.zoom.off {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.zoom.on {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.fade.off {
  opacity: 0;
}
.fade.on {
  opacity: 1;
}
.modal-outer {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.modal-inner-1 { width: 100%; height: 100%; display: table; }
.modal-inner-2 { width: 100%; height: 100%; display: table-row; }
.modal-inner-3 { width: 100%; height: 100%; display: table-cell; vertical-align: middle; }
.modal-bg {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,0.5);
}
.modal-window {
  width: 650px;
  height: 90%;
  margin: auto;
  overflow: auto;
  border: 1px solid #999;
  background-color: #eee;
  position: relative;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
}
.modal-content {
  padding: 10px;
}
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
