<div ng-controller="TaskDetailCtrl" task="task">
  <div ng-switch="loaded">
    <div ng-switch-when="false">
      Loading...
    </div>
    <div ng-switch-when="true">
      <form ng-submit="update()">
        <ul ng-show="errors" style="color:red">
          <li ng-repeat="error in errors">{{error}}</li>
        </ul>
        <h3>{{fullTask.title}}</h3>
        <table class="form-layout">
          <tr><td>Created</td><td> {{format_date(fullTask.created_at)}}</td></tr>
          <tr><td>Title</td><td> <input type="text" style="box-sizing:border-box;width:400px" ng-model="fullTask.title"></td></tr>
          <tr><td>Owner</td><td> <select ng-model="fullTask.owner" ng-options="x for x in choices.allUserNamesAndNobody"><select></td></tr>
          <tr><td>Status</td><td> <select ng-model="fullTask.status" ng-options="x for x in choices.allStatuses"><select></td></tr>
          <tr><td>Priority</td><td> <input autofocus type="text" size="3" pattern="-?\d*" ng-model="fullTask.priority"></td></tr>
          <tr><td>Tags</td><td> <input type="text" style="box-sizing:border-box;width:400px" ng-model="fullTask.raw_tags"></td></tr>
          <tr><td>Notes</td><td>
            <p ng-repeat="note in fullTask.notes" ng-class="{'note-automated':note.automated}"><span class="note-author">{{note.author}}</span>: {{note.description}}<br>
            <span class="note-date">{{format_date(note.created_at)}}</span></p>
            <textarea style="width:400px;height:100px;box-sizing:border-box;padding:5px" ng-model="fullTask.newNoteText" placeholder="Add a note"></textarea>
          </td></tr>
        </table>
        <input type="submit" value="save">
      </form>
    </div>
  </div>
</div>
