<div ng-controller="TaskListCtrl">

  <style type="text/css">
    table td { border: 1px solid #ccc; }
  </style>

  <ul ng-show="errors" style="color:red">
    <li ng-repeat="error in errors">{{error}}</li>
  </ul>

  <p>
    <span ng-switch="pickingPlacement && !moveRowId">
      <span ng-switch-when="true"><b><a href="" ng-click="startNewTaskPlacement()">Cancel</a></b></span>
      <span ng-switch-when="false"><b><a href="" ng-click="startNewTaskPlacement()">New task</a></b></span>
    </span>
    &bull;
    Filter by
    status:
    <select ng-model="filterStatus" ng-options="x for x in choices.allStatusesPlus">
      <option value="">all</option>
    <select>
    owner:
    <select ng-model="filterOwner" ng-options="x for x in choices.allUserNamesAndNobody">
      <option value="">all</option>
    <select>
    tags:
    <input type="text" size="15" ng-model="filterTags">
    &bull;
    <span ng-show="loading">Loading tasks...</span>
    <a ng-hide="loading" href="" ng-click="loadTasks()">Reload</a>
  </p>

  <table class="layout"><tr><td>

    <table>
      <tr style="font-size:80%">
        <th ng-repeat="prop in ['rank','id','status','priority','owner','tags','title']">
          <span class="clickable" ng-click="sortByProp(prop)">
            {{prop}}
            <span ng-show="sortBy==prop && sortOrder==1">&darr;</span>
            <span ng-show="sortBy==prop && sortOrder==-1">&uarr;</span>
          </span>
        </th>
        <th>notes</th>
      </tr>
      <tr ng-repeat="task in tasks | filter:filterFunc" ng-class="{'strike':(['done','wontfix','dupe','invalid'].indexOf(task.status) >= 0)}">
        <td style="padding:0;white-space: nowrap">
          <button ng-show="!pickingPlacement" class="move-btn" style="width:40px" ng-click="startMoveRow(task.id)" title="{{task.rank}}">&uarr;&darr;</button>
          <button ng-show="pickingPlacement && moveRowId==task.id" class="move-btn target" style="width:40px" ng-click="startMoveRow(task.id)" title="cancel">&uarr;&darr;</button>
          <button ng-show="pickingPlacement && moveRowId!=task.id" class="move-btn" ng-class="{'picking':pickingPlacement}" style="width:20px" ng-click="finishPlacement(task.id,'above')" title="insert above">&uarr;</button><!--
       --><button ng-show="pickingPlacement && moveRowId!=task.id" class="move-btn" ng-class="{'picking':pickingPlacement}" style="width:20px" ng-click="finishPlacement(task.id,'below')" title="insert below">&darr;</button>
        </td>
        <td>{{task.id}}</td>
        <td style="white-space: nowrap">{{task.status}}</td>
        <td>{{task.priority}}</td>
        <td>{{task.owner}}</td>
        <td style="padding:2px 4px; font-size:80%">
          <span ng-repeat="tag in task.tags">
            {{tag}}
          </span>
        </td>
        <td>
          <a href="" class="task-title-link" ng-click="focusTask(task.id)">{{task.title}}</a>
        </td>
        <td>
          <span ng-show="task.num_notes">{{task.num_notes}}</span>
        </td>
      </tr>
    </table>

  </td><td>

    <div style="margin-left: 20px; max-width: 400px">
      <p class="quote-text">{{quote.text}}<p>
      <p class="quote-from">&mdash; {{quote.from}}</p>
    </div>

  </td></tr></table>

  <div ng-switch="hasFocusedTask">
    <div ng-switch-when="true">
      <div xhr-modal="partials/task.html" immediate="true"></div>
    </div>
  </div>

  <div ng-switch="composingNewTask">
    <div ng-switch-when="true">
      <div xhr-modal="partials/newTask.html" immediate="true"></div>
    </div>
  </div>

</div>
