<div ng-controller="TaskDetailCtrl" task="task">
  <div ng-switch="loaded">
    <div ng-switch-when="false">
      Loading...
    </div>
    <div ng-switch-when="true">
      <form ng-submit="update()">
        <ul ng-show="errors" style="color:red">
          <li ng-repeat="error in errors">{{error}}</li>
        </ul>
        <h3>{{fullTask.title}}</h3>
        <p>Title: <input type="text" ng-model="fullTask.title"></p>
        <p>Owner: <select ng-model="fullTask.owner" ng-options="x for x in choices.allUserNamesAndNobody"><select></p>
        <p>Status: <select ng-model="fullTask.status" ng-options="x for x in choices.allStatuses"><select></p>
        <p>Priority: <input type="text" autofocus onFocus="this.select()" ng-model="fullTask.priority"></p>
        <p>Tags: <input type="text" ng-model="fullTask.raw_tags"></p>
        <p ng-repeat="note in fullTask.notes"><b>{{note.author}}</b> ({{note.created_at}}): {{note.description}}</p>
        <textarea style="width:400px;height:100px" ng-model="fullTask.newNoteText" placeholder="Add a note"></textarea><br>
        <input type="submit" value="save">
      </form>
    </div>
  </div>
</div>
