<div ng-controller="TaskListCtrl">

  <style type="text/css">
    table td { border: 1px solid #ccc; }
  </style>

  <p>
  <a href="" ng-click="loadTasks()">Reload</a> | 
  Status:
  <select ng-model="filterStatus" ng-options="x for x in choices.allStatuses">
    <option value="">all</option>
  <select>
  Owner:
  <select ng-model="filterOwner" ng-options="x for x in choices.allUserNamesAndNobody">
    <option value="">all</option>
  <select>
  </p>

  <table>
    <tr>
      <th>id <button ng-click="sortByProp('id')" ng-bind-html-unsafe="sortButtonValue['id']"></button></th>
      <th>status <button ng-click="sortByProp('status')" ng-bind-html-unsafe="sortButtonValue['status']"></button></th>
      <th>priority <button ng-click="sortByProp('priority')" ng-bind-html-unsafe="sortButtonValue['priority']"></button></th>
      <th>owner <button ng-click="sortByProp('owner')" ng-bind-html-unsafe="sortButtonValue['owner']"></button></th>
      <th>tags</th>
      <th>name <button ng-click="sortByProp('title')" ng-bind-html-unsafe="sortButtonValue['title']"></button></th>
    </tr>
    <tr ng-repeat="task in tasks | filter:filterFunc">
      <td>{{task.id}}</td>
      <td>{{task.status}}</td>
      <td>{{task.priority}}</td>
      <td>{{task.owner}}</td>
      <td>
        <span ng-repeat="tag in task.tags">
          {{tag}}
        </span>
      </td>
      <td>
        <a href="" ng-click="focusTask(task.id)">{{task.title}}</a>
      </td>
    </tr>
  </table>

  <div ng-switch="hasFocusedTask">
    <div ng-switch-when="true">
      <div xhr-modal="partials/task.html" immediate="true" hide-close-button="false"></div>
    </div>
  </div>

</div>
